.main-footer {
    display: flex;
    width: 100%;
    padding: 4rem 24rem;
    flex-direction: column;
    align-items: flex-start;
    background: #036;
}

.footer-grid {
    display: flex;
    max-width: 72rem;
    padding: 0 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    align-self: stretch;
}

.footer-desc {
    display: flex;
    flex: 1 1 18rem;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

    h4 {
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.75rem;
        margin: 0;
    }

    p {
        align-self: stretch;
        color: #D1D5DC;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        align-self: stretch;
        list-style: none;
        padding: 0;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        a {
            color: #06C;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            text-decoration: none;
        }
    }

    a:hover {
        filter: brightness(70%);
    }

    a:focus-visible {
        outline: 3px solid var(--mid-blue);
        outline-offset: 2px;
        border-radius: 2px;
    }
}

.footer-brand {
    display: flex;
    padding-top: 2.063rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-top: 1px solid #E0E0E0;

    p {
        align-self: stretch;
        color: #99A1AF;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .main-footer {
        padding: 3rem 4rem;
    }
}

@media (max-width: 768px) {
    .main-footer {
        padding: 2.5rem 2rem;
    }
}
