.main-footer{
    display: flex;
    width: 1920px;
    padding: 64px 384px;
    flex-direction: column;
    align-items: flex-start;
    background:  #036;
}

.footer-grid{
    display: flex;
    max-width: 1152px;
    padding: 0 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;

}

.footer-desc {
    display: flex;
    width: 336px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    h4{
        color:  #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin: 0;
    }

    p {
        align-self: stretch;
        color: #D1D5DC;
        font-size:16px;
        font-style: normal;
        font-weight:400;
        line-height:24px;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        list-style: none;
        padding: 0;
    }

    li{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

    }
    li a{
        color:  #06C;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
    }
}

.footer-brand{
    display: flex;
    padding-top: 33px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-top: 1px solid #E0E0E0;

    p{
        align-self: stretch;
        color:  #99A1AF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
}
