<footer class="main-footer">
    <div class="footer-grid">
        <div class="footer-info">
            <div class="footer-desc">
                <h4>Departamento de Informática</h4>
                <p>Universidade Estadual de Maringá<br>Formando profissionais desde 1978.</p>
            </div>
            <div class="footer-desc">
                <h4>Navegação Rápida</h4>
                <ul>
                    <li><a href="/">Cursos</a></li>
                    <li><a href="/">Docentes</a></li>
                    <li><a href="/">Documentação</a></li>
                </ul>
            </div>
            <div class="footer-desc">
                <h4>Contato</h4>
                <p>
                    Email: coord-cc@uem.br e coord-inf@uem.br<br>
                    Telefone: 3011-4324
                </p>
            </div>
        </div>
        <div class="footer-brand"><p>© 2025 Departamento de Informática - UEM</p></div>
    </div>
</footer>
