<header class="navbar">
    <a href="{{ get_url(path='') }}">
        <img
            src ="{{ get_url(path='images/logo-uem.svg') }}"
            alt ="logo uem"
        />
    </a>
    <div class="header-container">
        <p>UEM – DIN</p>
        <nav>
            <a href="/">Início</a>
            <a href="/">Cursos</a>
            <a href="#">Docentes</a>
            <a href="#">Documentação</a>
            <a href="#">Portal do Aluno</a>
            <a href="#">Portal do Docente</a>
            <a href="#">Admissão</a>
        </nav>
    </div>
</header>
