<header class="navbar">
    <div class="container">
        <div class="logo-area">
            <span class="logo-uem-badge">UEM</span>
            UEM – DIN
        </div>
        <nav>
            <a href="/" class="nav-active">Início</a>
            <a href="#">Cursos</a>
            <a href="#">Docentes</a>
            <a href="#">Documentação</a>
            <a href="/login">Portal do Aluno</a>
            <a href="#">Portal do Docente</a>
            <a href="#">Admissão</a>
        </nav>
    </div>
</header>
